@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl;
    @apply font-bold;
  }
  h2 {
    @apply text-2xl;
    @apply font-semibold;
  }
  h3 {
    @apply text-lg;
    @apply font-medium;
  }
}

/* look for unexpected overflow
* {
  outline: 1px solid #f00 !important;
} */

:root{
  @apply text-neutral-800
}

.box{
  @apply rounded;
  @apply shadow-sm;
  @apply shadow-stone-400; 
}

.btn {
  position: relative;
}

.btn::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
    @apply bg-neutral-800;
  }

.btn:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.text-stone-100::before {
  @apply  bg-stone-100;
}
